{% extends 'base.html.twig' %}
{% block body %}
<h1>Listado de categorías</h1>
<a class="btn btn-primary mb-2" href="{{ path('app_categoria_new') }}">Nueva categoría</a>
<ul>
{% for categoria in categorias %}
<li>
    <a href="{{ path('app_categoria_show', {'id': categoria.id}) }}">{{ categoria.nombre }}</a>
    - <a href="{{ path('app_categoria_show', {'id': categoria.id}) }}">Ver libros</a>
    | <a href="{{ path('app_categoria_edit', {'id': categoria.id}) }}">Editar</a>
</li>
{% else %}<li>No hay categorías.</li>{% endfor %}
</ul>
{% endblock %}
