{% extends 'base.html.twig' %}

{% block title %}{{ categorium.nombre }}{% endblock %}

{% block body %}
    <h1>{{ categorium.nombre }}</h1>
    <p>Libros en esta categoría:</p>
    <ul>
        {% for book in categorium.books %}
            <li>{{ book.titulo }}</li>
        {% else %}
            <li>No hay libros en esta categoría</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Editar</a>
    <a href="{{ path('app_categoria_index') }}">Volver a la lista</a>
{% endblock %}
