{% extends 'base.html.twig' %}
{% block body %}
<h1>Editar libro</h1>
{{ form_start(form) }}{{ form_widget(form) }}<button class="btn btn-success">Actualizar</button>{{ form_end(form) }}
<form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" class="mt-2">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
<button class="btn btn-danger">Eliminar</button></form>
{% endblock %}
