{% extends 'base.html.twig' %}

{% block title %}{{ book.titulo }}{% endblock %}

{% block body %}
    <h1>{{ book.titulo }}</h1>

    <p><strong>Autor:</strong> {{ book.autor }}</p>
    <p><strong>Descripción:</strong> {{ book.descripcion }}</p>
    <p><strong>Categoria:</strong> {{ book.categoria }}</p>
    <p><strong>Precio:</strong> {{ book.precio }} €</p>
    <p><strong>Estado:</strong> {{ book.estado }}</p>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">Editar</a>
    <a href="{{ path('app_book_index') }}">Volver a la lista</a>
{% endblock %}
