{% extends 'base.html.twig' %}

{% block title %}Valoraciones{% endblock %}

{% block body %}
    <h1>Valoraciones</h1>
    <a href="{{ path('app_valoracion_new') }}">Nueva valoración</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Libro</th>
            <th>Puntuación</th>
            <th>Comentario</th>
        </tr>
        </thead>
        <tbody>
        {% for val in valoraciones %}
            <tr>
                <td>{{ val.id }}</td>
                <td>{{ val.usuario.email }}</td>
                <td>{{ val.book.titulo }}</td>
                <td>{{ val.puntuacion }}</td>
                <td>{{ val.comentario }}</td>
            </tr>
        {% else %}
            <tr><td colspan="5">No hay valoraciones</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

